
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 115vh;
    background: url(../assets/EKKO.png) no-repeat ;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;

}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
 
    transition: backgroud-color 0.5s ease;
}

.navegation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s ;

}

.navegation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;

}

.navegation .bntLogin-popup {
    position: relative;
    margin-left: 20px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: background-color 0.5s ease;

}

.navegation .bntLogin-popup:hover{
    background: white;
    color: rgb(49, 49, 130);
    

} 

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(225,225,225,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper .form-box{

    width: 100%;
    padding: 40px;

}

.form-box h2{
    font-size: 2em;
    color: white;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
}